body {
    background-color: #eee;
}

form {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    display: inline-flex;
    flex-direction: column;
    padding: 25px 70px;
    font-size: 50px;
    line-height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px #0002;
}

.skaiciuoti1 {
    color: white;
    background-color: yellowgreen;
}
.atgal1 {
    color: white;
    background-color: orange;
}
.pradzia1 {
    color: white;
    background-color: orangered;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "----";
}
.kiekis1 {
    padding: 15px 220px;
    display: flex;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 21px;
}
.kiekis11 {
    padding: 15px 220px;
    display: flex;
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 21px;
}
::placeholder {
    font-size: 25px;
    width: 100%;
}
.simtas {
    padding: 15px 220px;
    display: flex;
    position: absolute;
    top: 25%;
    left: 77%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}
.x {
    padding: 15px 220px;
    display: flex;
    position: absolute;
    top: 45%;
    left: 77%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}
.restart {
    background-color: rgb(38, 221, 151);
    color: #fff;
    display: flex;
    padding: 21px 150px;
    position: absolute;
    top: 441%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
}